*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background-color: #2B2B2BFF;
    overflow: hidden;
}
header{
    width: 1200px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#header-logo{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}
#header-ul{
    width: 600px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header-ul li{
    transition: all 0.6s;
}
#header-ul li a{
   color: #fff;
   font-size: 18px;
}
#header-ul li:hover{
transform: scale(0.9);
}
#head-signup{
    width: 150px;
    height: 60px;
    background-color: #A259FFFF;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#head-signup img{
    margin: -5px 7px;
}

#hidden-div{
    width: 40%;
    height: 100%;
    background-color: gray;
    position: absolute;
    box-shadow: -50px 0px 150px black;
    transform: translateX(200%) !important;
    transition: all 1s;
    z-index: 2;
}
#bar{
    position: absolute;
    right: 10%;
    z-index: 9;
    top: 40px;
    color: #fff;
    display: none;
}
.show{
    transform: translateX(0%) !important; 
}
.ulshow{
    display: block !important;
}




















@media(max-width:1200px){
    header{
        width: 1000px;
    }
    #header-ul{
        width: 60%;
    }
}
@media(max-width:1000px){
    header{
        width: 600px;
    }
    #header-ul{
        width: 40%;
        height: 100%;
        background-color: rgb(36, 34, 34);
        position: absolute;
        right: 0;
        box-shadow: -50px 0px 150px black;
        transform: translateX(200%);
        transition: all 1s;
        z-index: 2;
        display: block;
    }
    #header-ul li{
        margin-top: 20px;
        width: 150px;
        margin-left: 5%;
    }
    #bar{
        display: block;
    }
}
@media(max-width:600px){
    header{
        width: 350px;
    }
}
@media(min-width:1000px){
    #bar{
        display: none;
    }
    #header-ul{
        display: flex !important; 
    }
}
@media(min-width:1300px){
    header{
        width: 90%;
    }
}